<Podcast::Content::EpisodeLeadingIcon @episode={{@episode}} />
<div class="fill column gap-quarter">
  <div class="podcast-content-name">{{@episode.name}}</div>
  <div class="row gap-half">
    {{#if @episode.season}}
      <div class="badge theme-{{@episode.season.theme}}">
        {{#if @episode.season.name}}
          {{t "season-number-name" number=@episode.season.number name=@episode.season.name}}
        {{else}}
          {{t "season-number" number=@episode.season.number}}
        {{/if}}
      </div>
    {{/if}}
    <div class="badge theme-secondary">{{@episode.publishedString}}</div>
    <div class="badge theme-tertiary d-none d-sm-block">{{@episode.durationString}}</div>
  </div>
</div>
