<Podcast::Content::EpisodeLeadingIcon @episode={{@episode}} />
<div class="fill column gap-quarter">
  <div class="podcast-content-name">{{@episode.name}}</div>
  <div class="row gap-half">
    {{#if @episode.season}}
      <div class="badge theme-{{@episode.seasonTheme}}">Säsong {{@episode.season}}</div>
    {{/if}}
    <div class="badge theme-secondary">{{@episode.publishedString}}</div>
    <div class="badge theme-tertiary d-none d-sm-block">{{@episode.durationString}}</div>
  </div>
</div>
