{{#if this.useLinkTo}}
  <LinkTo @route={{@route}} @models={{this.models}} {{on "click" this.onClick}} class={{this.classes}} ...attributes>
    <Button::Content @material-icon={{@material-icon}} @loading={{this.isLoading}}>{{yield}}</Button::Content>
  </LinkTo>
{{else}}
  <a
    href={{@href}}
    target={{this.target}}
    class={{this.classes}}
    rel={{this.rel}}
    {{on "click" this.onClick}}
    ...attributes
  >
    <Button::Content @material-icon={{@material-icon}} @loading={{this.isLoading}}>{{yield}}</Button::Content>
  </a>
{{/if}}
