<article class="episode-card" ...attributes>
  <div class="episode-card-contents">
    <div class="row align-center">
      <LinkTo
        @route="podcast.episode"
        @models={{array @episode.podcast @episode.slug}}
        @disabled={{not @expand-link}}
        class="row align-center gap-single fill episode-link-block"
      >
        {{#if @episode.hasNumber}}
          <div class="episode-number">{{@episode.number}}</div>
        {{/if}}
        <div class="fill column gap-quarter">
          <div class="episode-name">{{@episode.name}}</div>
          <div class="row gap-half">
            <div class="badge secondary">{{@episode.publishedString}}</div>
            <div class="badge tertiary d-none d-sm-block">{{@episode.durationString}}</div>
          </div>
        </div>
      </LinkTo>

      <div class="row gap-single p-single align-center">
        {{#if @expand-link}}
          <LinkTo
            @route="podcast.episode"
            @models={{array @episode.podcast @episode.slug}}
            class="material-symbols-outlined icon link secondary d-none d-sm-block"
            title="Läs mer"
          >expand_content</LinkTo>
        {{/if}}
        {{#if this.isLoadingAudio}}
          <ProgressCircle class="tertiary" />
        {{else if this.isPlaying}}
          <span
            class="material-symbols-outlined icon link tertiary"
            role="button"
            title="Pausa"
            {{on "click" this.audio.pause}}
          >pause</span>
        {{else}}
          <span
            class="material-symbols-outlined icon link tertiary"
            role="button"
            title="Spela"
            {{on "click" this.play}}
          >play_arrow</span>
        {{/if}}
        <a href={{@episode.audio-file}} title="Ladda ned">
          <span class="material-symbols-outlined icon link primary">download</span>
        </a>
      </div>
    </div>

    {{yield}}
  </div>
</article>
