<div
  class={{this.classes}}
  style={{this.style}}
  {{on-size-change this.onSizeChange}}
  {{on "transitionend" this.onTransitionEnd}}
  {{on "mouseenter" this.onMouseEnter}}
  {{on "mouseleave" this.onMouseLeave}}
  ...attributes
>
  {{#if this.icon}}
    <span class="material-symbols toast-icon">{{this.icon}}</span>
  {{/if}}
  <div class="toast-text">{{@toast.message.text}}</div>
  <span class="material-symbols toast-close-icon" {{on "click" this.onCloseClick}}>close</span>
  <div class="toast-countdown {{this.countdownClass}}" {{on-insert this.setCountdownElement}}></div>
</div>
