{{#if @consent}}
  <div {{on-insert this.onInsert}} {{on-size-change this.onSizeChange}} class="mt-single">
    {{html-safe @video.iframe}}
  </div>
  {{#if @video.title}}<div><em>{{@video.title}}</em></div>{{/if}}
{{else}}
  <div class="video-consent-prompt p-single mt-single">
    <h3>{{t "video.video"}}{{#if @video.title}}: {{@video.title}}{{/if}}</h3>
    <p>{{t "video.embed-explanation"}}</p>
    <div class="row gap-half wrap">
      <Button @on-click={{@on-consent-click}} @theme="primary">{{t "video.show-embedded"}}</Button>
      <Button @href={{@video.externalLink}} @new-tab={{true}} @theme="secondary">{{t "video.open-new-tab"}}</Button>
    </div>
  </div>
{{/if}}
