<aside class="gap-half column" ...attributes>
  <Button @href={{@podcast.rss-url}} @new-tab={{true}} @theme="primary" @material-icon="rss_feed">
    <span class="label">RSS-flöde</span>
  </Button>
  {{#each @podcast.links as |link|}}
    <Button @href={{link.url}} @new-tab={{true}} @theme={{link.theme}}>
      {{#if link.custom-icon}}
        <img src={{link.custom-icon}} alt="" class="icon" />
      {{else if link.faIcon}}
        <FaIcon @icon={{link.faIcon}} class="icon" />
      {{/if}}
      <span class="label">{{link.label}}</span>
    </Button>
  {{/each}}

  {{#if this.showIndexLink}}
    <Button @route="home" @theme="secondary" @material-icon="home">
      <span class="label">Alla poddar</span>
    </Button>
  {{/if}}

  <Attribution class="d-none d-md-flex" />

  {{yield}}
</aside>
