<header class="podcast-banner box-shadow {{if @podcast.banner 'has-banner-image'}}" ...attributes>
  <div class="podcast-banner-image" style={{@podcast.bannerCssStyle}}></div>

  <div class="d-flex p-single gap-half align-end space-between">
    <LinkTo class="row gap-single align-center" @route={{@podcast.route}} @models={{@podcast.routeModels}}>
      {{#if @podcast.cover-thumbnail}}
        <img src="{{@podcast.cover-thumbnail}}" alt="" class="podcast-cover d-none d-sm-block" />
      {{/if}}
      <div>
        <div class={{@podcast.nameCssClass}} style={{@podcast.nameCssStyle}}>{{@podcast.name}}</div>
        {{#if @podcast.tagline}}
          <div class="podcast-tagline outlined-text">{{@podcast.tagline}}</div>
        {{/if}}
      </div>
    </LinkTo>
    {{#if @on-menu-click}}
      <span
        class="material-symbols hover-light menu-button cursor-pointer {{if @is-menu-open 'open'}}"
        {{on "click" @on-menu-click}}
      >menu</span>
    {{/if}}
  </div>
</header>
