<main class="content-width {{if this.audio.episode 'show-player-bar'}}" ...attributes>
  <header>
    {{#if @podcast.banner}}
      <img src="{{@podcast.banner}}" alt="" class="podcast-banner" />
    {{/if}}
    <LinkTo class="row gap-single align-center m-single" @route="podcast" @model={{@podcast}}>
      {{#if @podcast.cover-thumbnail}}
        <img src="{{@podcast.cover-thumbnail}}" alt="" class="podcast-cover" />
      {{/if}}
      <div>
        <div class="podcast-name">{{@podcast.name}}</div>
        {{#if @podcast.tagline}}
          <div class="podcast-tagline">{{@podcast.tagline}}</div>
        {{/if}}
      </div>
    </LinkTo>
  </header>

  <div class="column gap-single">
    {{yield to="before"}}
    <div class="row gap-single">
      <div class="fill column gap-half">
        {{yield}}
      </div>
      <Podcast::Aside @podcast={{@podcast}} />
    </div>
  </div>
</main>
