{{page-title @episode.pageTitle}}
<Button @route={{@podcast.route}} @models={{@podcast.routeModels}} @theme="secondary" @material-icon="arrow_back">
  <span class="label">Till {{@podcast.name}}</span>
</Button>
{{yield}}
<Podcast::Content::EpisodeCard @episode={{@episode}} @start={{@start}} @expand={{true}}>
  <div class="gap-single px-single column pb-single">
    <Podcast::Content::Description @content={{@episode}} />
    {{#if this.hasSongs}}
      <div class="text-article">
        <h2>Låtar</h2>
        {{#each @episode.songs as |song|}}
          <div class="episode-song">
            <span {{on "click" (fn this.onSongClick song)}}>
              <span class="text-boring-light">{{song.timestampString}}</span>
              <span>{{song.displayString}}</span>
            </span>
          </div>
        {{/each}}
      </div>
    {{/if}}
    <Podcast::Content::Comments @content={{@episode}} />
  </div>
</Podcast::Content::EpisodeCard>
