<Podcast::Base
  @podcast={{@podcast}}
  class="podcast-episode-list {{if @podcast.description-html 'has-before'}}"
  ...attributes
>
  <:before>
    {{#if @podcast.description-html}}
      <div class="podcast-description before">
        <div class="podcast-description-content">{{html-safe @podcast.description-html}}</div>
      </div>
    {{/if}}
  </:before>
  <:default>
    {{#each @podcast.contents as |content|}}
      {{#if content.isEpisode}}
        <Podcast::Content::EpisodeCard @episode={{content}} @expand-link={{true}} />
      {{else if content.isPost}}
        <Podcast::Content::PostCard @post={{content}} @expand-link={{true}} />
      {{/if}}
    {{/each}}
  </:default>
</Podcast::Base>
