{{page-title @post.pageTitle}}
<Button @route={{@podcast.route}} @models={{@podcast.routeModels}} @theme="secondary" @material-icon="arrow_back">
  <span class="label">Till {{@podcast.name}}</span>
</Button>
{{yield}}
<Podcast::Content::PostCard @post={{@post}} @expand={{true}}>
  <div class="gap-single px-single column pb-single">
    <Podcast::Content::Description @content={{@post}} />
    <Podcast::Content::Comments @content={{@post}} />
  </div>
</Podcast::Content::PostCard>
