{{page-title @post.pageTitle}}
<Podcast::Base @podcast={{@podcast}} class="podcast-content-detail">
  <Button @route={{@podcast.route}} @models={{@podcast.routeModels}} @theme="secondary" @material-icon="arrow_back">
    <span class="label">Till {{@podcast.name}}</span>
  </Button>
  <Podcast::Content::PostCard @post={{@post}} @expand={{true}}>
    <Podcast::Content::Description @model={{@post}} />
  </Podcast::Content::PostCard>
</Podcast::Base>
