<div class="row" ...attributes>
  <span
    class="material-symbols-outlined button"
    role="button"
    {{on "click" this.audio.toggleMute}}
    title="{{if this.audio.isMuted 'Sätt på ljud' 'Stäng av ljud'}}"
  >
    {{#if this.audio.isMuted}}
      volume_off
    {{else}}
      volume_up
    {{/if}}
  </span>
  <input
    type="range"
    name="volume"
    value={{this.audio.volume}}
    min="0"
    max="1"
    step="0.01"
    {{on "input" this.onVolumeInput}}
    disabled={{this.audio.isMuted}}
  />
</div>
