<div class="row align-center" ...attributes>
  <span
    class="material-symbols button"
    role="button"
    {{on "click" this.audio.toggleMute}}
    title="{{if this.audio.isMuted (t 'volume.unmute') (t 'volume.mute')}}"
  >
    {{#if this.audio.isMuted}}
      volume_off
    {{else}}
      volume_up
    {{/if}}
  </span>
  <input
    type="range"
    name="volume"
    value={{this.audio.volumeDisplay}}
    min="0"
    max="1"
    step="0.01"
    {{on "input" this.onVolumeInput}}
    disabled={{this.audio.isMuted}}
  />
</div>
