{{page-title @model.pageTitle}}
<Podcast::Base @podcast={{@model.podcast}} class="podcast-content-detail">
  <Button @route="podcast" @model={{@model.podcast}} @theme="secondary" @material-icon="arrow_back">
    <span class="label">Till {{@model.podcast.name}}</span>
  </Button>
  <Podcast::Content::EpisodeCard @episode={{@model}} @start={{this.start}}>
    <Podcast::Content::Description @model={{@model}} />
  </Podcast::Content::EpisodeCard>
</Podcast::Base>
