{{page-title this.pageTitle}}
<Podcast::Base @podcast={{@model.podcast}} class="podcast-episode-detail">
  <Button @route="podcast" @model={{@model.podcast}} @theme="secondary" @material-icon="arrow_back">
    <span class="label">Till {{@model.podcast.name}}</span>
  </Button>
  <EpisodeCard @episode={{@model}} @start={{this.start}}>
    {{#if @model.description-html}}
      <div class="episode-description">{{html-safe @model.description-html}}</div>
    {{/if}}
  </EpisodeCard>
</Podcast::Base>
