{{#if this.hasComments}}
  <div>
    <h3>Kommentarer</h3>
    {{#each this.comments as |comment|}}
      <div class="comment">
        <p class="text-xs">{{comment.name}} sade {{comment.createdString}}:</p>
        <div class="comment-text">{{html-safe comment.text-html}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if this.showCommentForm}}
  <div>
    <h3>Lämna en kommentar</h3>
    <div class="comment-form gap-half">
      <div class="column">
        {{#if @content.podcast.require-comment-approval}}
          <div class="text-xs">Obs: din kommentar kommer att behöva godkännas manuellt innan den blir synlig här.</div>
        {{/if}}
        <TextInput @value={{this.comment.text}} @errors={{this.comment.errors.text}} @multiline={{true}} />
      </div>
      <div class="row gap-half align-start wrap">
        <TextInput
          @id="name"
          @value={{this.comment.name}}
          @errors={{this.comment.errors.name}}
          @max-length={{50}}
          @label="Ditt namn"
          @wrapper-class="name-wrapper"
        />
        <TextInput
          @id="challenge"
          @type="number"
          @value={{this.comment.challenge-answer}}
          @errors={{this.comment.errors.challenge-answer}}
          @label="Vad blir {{this.challenge.challenge-string}}? Svara med siffror."
          @wrapper-class="challenge-wrapper"
        />
        <Button
          @disabled={{this.isSubmitDisabled}}
          @theme="secondary"
          @on-click={{this.onSubmitComment}}
        >Skicka</Button>
      </div>
    </div>
  </div>
{{/if}}
