{{#if this.hasComments}}
  <div>
    <h3>{{t "comment.comments"}}</h3>
    {{#each this.comments as |comment|}}
      <div class="comment">
        <p class="text-xs">{{t "comment.x-said-on-date" x=comment.name date=comment.createdString}}:</p>
        <div class="comment-text">{{html-safe comment.text-html}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if this.showCommentForm}}
  <div>
    <h3>{{t "comment.leave-a-comment"}}</h3>
    <div class="comment-form gap-half">
      <div class="column">
        {{#if @content.podcast.require-comment-approval}}
          <div class="text-xs">{{t "comment.approval-required"}}</div>
        {{/if}}
        <TextInput @value={{this.comment.text}} @errors={{this.comment.errors.text}} @multiline={{true}} />
      </div>
      <div class="row gap-half align-start wrap">
        <TextInput
          @id="name"
          @value={{this.comment.name}}
          @errors={{this.comment.errors.name}}
          @max-length={{50}}
          @label="{{t 'comment.your-name'}}"
          @wrapper-class="name-wrapper"
        />
        <TextInput
          @id="challenge"
          @type="number"
          @value={{this.comment.challenge-answer}}
          @errors={{this.comment.errors.challenge-answer}}
          @label="{{t 'comment.challenge' q=this.challenge.challenge-string}}"
          @wrapper-class="challenge-wrapper"
        />
        <Button @disabled={{this.isSubmitDisabled}} @theme="secondary" @on-click={{this.onSubmitComment}}>
          {{t "comment.send"}}
        </Button>
      </div>
    </div>
  </div>
{{/if}}
