<div class="podcast-content-description" ...attributes>
  {{#if @content.description-html}}
    {{html-safe @content.description-html}}
  {{/if}}

  {{#each @content.videos as |video|}}
    <Video @video={{video}} @on-consent-click={{this.onVideoConsentClick}} @consent={{this.videoConsent}} />
  {{/each}}

  {{yield}}

  {{#if @content.descriptionIsLoading}}
    <ProgressCircle class="icon mb-single" />
  {{/if}}
</div>
