{{#if @episode.image-thumbnail}}
  <img src={{@episode.image-thumbnail}} class={{this.classes}} alt="" ...attributes />
{{else if @episode.numberString}}
  <div class="{{this.classes}} {{this.numberClass}}" ...attributes>{{@episode.numberString}}</div>
{{else if this.coverThumbnail}}
  <img src={{this.coverThumbnail}} class={{this.classes}} alt="" ...attributes />
{{else}}
  <span class="material-symbols {{this.classes}}" ...attributes>podcasts</span>
{{/if}}
