<article class="podcast-content-card episode" ...attributes>
  <div class="podcast-content-card-contents">
    <div class="row align-center gap-half">
      {{#if @expand}}
        <div class="row align-center gap-single fill p-single">
          <Podcast::Content::EpisodeCard::Head @episode={{@episode}} />
        </div>
      {{else}}
        <LinkTo
          @route={{@episode.route}}
          @models={{@episode.routeModels}}
          class="row align-center gap-single fill p-single"
        >
          <Podcast::Content::EpisodeCard::Head @episode={{@episode}} />
        </LinkTo>
      {{/if}}

      <div class="row align-center gap-half px-single">
        {{#if @expand}}
          <span
            class="material-symbols icon text-secondary hover-light py-single share-icon"
            role="button"
            title="{{t 'share.share'}}"
            {{on "click" this.openShareModal}}
          >share</span>
        {{/if}}
        {{#if (and @episode.has-songs (not @expand))}}
          <LinkTo
            @route={{@episode.route}}
            @models={{@episode.routeModels}}
            class="material-symbols icon text-secondary hover-light d-none d-sm-block py-single songlist-icon"
            title="{{t 'has-tracklist'}}"
          >queue_music</LinkTo>
        {{/if}}
        <a href={{@episode.audio-url}} title="{{t 'download'}}" class="py-single">
          <span class="material-symbols icon text-primary hover-light download-icon">download</span>
        </a>
        {{#if this.isLoadingAudio}}
          <ProgressCircle class="tertiary py-single" />
        {{else if this.isPlaying}}
          <span
            class="material-symbols icon text-tertiary hover-light py-single pause-icon"
            role="button"
            title="{{t 'pause'}}"
            {{on "click" this.audio.pause}}
          >pause</span>
        {{else}}
          <span
            class="material-symbols icon text-tertiary hover-light py-single play-icon"
            role="button"
            title="{{t 'play'}}"
            {{on "click" this.onPlayClick}}
          >play_arrow</span>
        {{/if}}
      </div>
    </div>

    {{yield}}
  </div>
</article>

{{#if this.showShareModal}}
  <Podcast::Content::ShareModal
    @on-close={{this.closeShareModal}}
    @current-time={{this.currentTimeSnapshot}}
    @url={{@episode.frontendUrl}}
  />
{{/if}}
