<article class="podcast-content-card post" ...attributes>
  <div class="podcast-content-card-contents">
    <div class="row align-center gap-half">
      <LinkTo
        @route={{@post.route}}
        @models={{@post.routeModels}}
        @disabled={{@expand}}
        class="row align-center gap-single fill p-single"
      >
        <span class="material-symbols podcast-content-leading-icon theme-secondary">article</span>
        <div class="fill column gap-quarter">
          <div class="podcast-content-name">{{@post.name}}</div>
          <div class="row gap-half">
            <div class="badge theme-secondary">{{@post.publishedString}}</div>
          </div>
        </div>
      </LinkTo>
    </div>
    {{yield}}
  </div>
</article>
