<div class="row align-center" ...attributes>
  <div class="row align-center gap-half fill">
    <div class="text-xs time-string">{{this.audio.currentTimeString}}</div>
    <Dbfs::Bar @episode={{@episode}} />
    <div class="text-xs time-string d-none d-sm-block">{{this.audio.durationString}}</div>
  </div>

  <VolumeControl />
  <PlaybackRateControl />

  <div class="pos-relative" {{on-outside-click this.onKeyboardHelpOutsideClick}}>
    <span
      class="material-symbols button"
      role="button"
      {{on "click" this.onKeyboardHelpButtonClick}}
      title="Tangentbordskommandon"
    >keyboard</span>
    {{#if this.isKeyboardHelpOpen}}
      <Popup class="gap-half p-single">
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="text">Mellanslag</span></div>
          <span>Spela/pausa</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="material-symbols">arrow_left</span></div>
          <span>Bak책t 10 sekunder</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="material-symbols">arrow_right</span></div>
          <span>Fram책t 30 sekunder</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="text">Ctrl</span></div>
          +
          <div class="keyboard-key"><span class="material-symbols">arrow_left</span></div>
          <span>Bak책t 60 sekunder</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="text">Ctrl</span></div>
          +
          <div class="keyboard-key"><span class="material-symbols">arrow_right</span></div>
          <span>Fram책t 180 sekunder</span>
        </div>
      </Popup>
    {{/if}}
  </div>
</div>
