<div class="row align-center" ...attributes>
  <div class="row align-center gap-half fill">
    <div class="text-xs time-string">{{this.audio.currentTimeString}}</div>
    <Dbfs::Bar @episode={{@episode}} />
    <div class="text-xs time-string d-none d-sm-block">{{this.audio.durationString}}</div>
  </div>

  <VolumeControl />
  <PlaybackRateControl />

  <div class="pos-relative" {{on-outside-click this.onKeyboardHelpOutsideClick}}>
    <span
      class="material-symbols button"
      role="button"
      {{on "click" this.onKeyboardHelpButtonClick}}
      title="{{t 'keyboard.shortcuts'}}"
    >keyboard</span>
    {{#if this.isKeyboardHelpOpen}}
      <Popup class="gap-half p-single">
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="text">{{t "keyboard.space"}}</span></div>
          <span>{{t "play-pause"}}</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="material-symbols">arrow_left</span></div>
          <span>{{t "rewind-10s"}}</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="material-symbols">arrow_right</span></div>
          <span>{{t "forward-30s"}}</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="text">{{t "keyboard.ctrl"}}</span></div>
          +
          <div class="keyboard-key"><span class="material-symbols">arrow_left</span></div>
          <span>{{t "rewind-60s"}}</span>
        </div>
        <div class="nowrap row align-center gap-half">
          <div class="keyboard-key"><span class="text">{{t "keyboard.ctrl"}}</span></div>
          +
          <div class="keyboard-key"><span class="material-symbols">arrow_right</span></div>
          <span>{{t "forward-180s"}}</span>
        </div>
      </Popup>
    {{/if}}
  </div>
</div>
