{{#if this.isSingleton}}
  {{page-title this.singleton.name replace=true}}
  <Podcast::Index @podcast={{this.singleton}} />
{{else}}
  {{page-title this.siteName replace=true}}
  <main class="content-width column gap-half podcast-list">
    <div class="spodcat-banner">
      <div class="row space-between align-center w-100">
        <div>
          <div class="title">Spodcat</div>
          <div class="subtitle">{{t "spodcat-subtitle"}}</div>
        </div>
        <img src="/spodcat-logo.png" alt="" class="logo d-none d-sm-block" />
      </div>
    </div>
    {{#each @model as |podcast|}}
      <Podcast::Banner @podcast={{podcast}} />
    {{/each}}
  </main>
{{/if}}
