{{#if this.isSingleton}}
  {{page-title this.singleton.name replace=true}}
  <Podcast::Index @podcast={{this.singleton}} />
{{else}}
  <main class="content-width column gap-half podcast-list">
    <h1 class="mb-half outlined-text">Välj en podd:</h1>
    {{#each @model as |podcast|}}
      <div class="podcast-banner">
        {{#if podcast.banner}}
          <img src="{{podcast.banner}}" alt="" class="podcast-banner-image" />
        {{/if}}
        <LinkTo class="row gap-single align-center m-half" @route={{podcast.route}} @models={{podcast.routeModels}}>
          {{#if podcast.cover-thumbnail}}
            <img src="{{podcast.cover-thumbnail}}" alt="" class="podcast-cover d-none d-sm-block" />
          {{/if}}
          <div>
            <div class="podcast-name outlined-text small">{{podcast.name}}</div>
            {{#if podcast.tagline}}
              <div class="podcast-tagline outlined-text d-none d-sm-block">{{podcast.tagline}}</div>
            {{/if}}
          </div>
        </LinkTo>
      </div>
    {{/each}}
  </main>
{{/if}}
