<main class="content-width podcast-details podcast-grid {{@model.id}}">
  <Podcast::Banner @podcast={{@model}} @on-menu-click={{this.onMenuClick}} @is-menu-open={{this.isMenuOpen}} />

  <div class="column gap-half content">
    {{outlet}}
  </div>

  <Podcast::Aside @podcast={{@model}} class="d-md-flex {{if this.isMenuOpen 'd-flex' 'd-none'}}" />

  <Attribution class="d-md-none" />
</main>
